.dub
docs.json
__dummy.html
docs/
/nspcplay
nspcplay.so
nspcplay.dylib
nspcplay.dll
nspcplay.a
nspcplay.lib
nspcplay-test-*
*.exe
*.o
*.obj
*.lst
dub.selections.json
*.pdb
*.dll
.vs
*.nspc
*.ebm
songs
*.wav
*.flac
*.exp
*.lib
